.background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  opacity: 1;
  visibility: visible;
  transition: all 400ms ease-in;
  background: rgba(0, 0, 0, 0.4);
}

.modal {
  position: absolute;
  top: 33.3%;
  left: 35%;
  width: 50%;
  background-color: white;
  opacity: 1;
  transform: translate(-20%, -20%);
  font-size: 1.5rem;
  box-shadow: 4px 4px 10px black;
  overflow: auto;
  color: black;
}

.modal-content {
  display: flex;
  height: 100%;
}

/* MODAL LEFT */

.modal-left {
  flex-basis: 40%;
  color: #3a17b7;
  height: 100%;
}

.project {
  padding: 1rem;
  margin: 0;
}

.project p {
  font-size: 2.1rem;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}

/* MODAL RIGHT */

.modal-right {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
  background-color: #3a17b7;
  height: auto;
}

.modal-right-close {
  text-align: right;
  padding: 1rem;
}

.close i {
  color: #fbe10f;
  font-size: 2.75rem;
}

.modal-right-about {
  display: flex;
  flex-direction: column;
  color: #fbe10f;
}

.project-about {
  flex-basis: 90%;
  padding: 1rem 1.75rem 1.5rem 1.75rem;
  font-size: 1.6rem;
  letter-spacing: 1.8px;
  word-spacing: 2.75px;
  line-height: 2.5rem;
}

.project-sites {
  padding: 1rem;
  text-align: right;
}

.project-sites i {
  margin: 5px;
  color: #fbe10f;
}

.project-sites span {
  margin: 5px;
  padding: 5px;
}

.project-sites a {
  color: #fbe10f;
}