.work {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: all 500ms ease-in;
  font-size: 1.6rem;
}

.work:hover .section-name {
  padding-left: 45%;
  transition: all 750ms ease-in-out;
}

.work:hover .work-item {
  opacity: 1;
  transition: opacity 500ms ease-in 700ms;
}

.work-item {
  width: 35%;
  opacity: 0;
  font-size: 1.9rem;
  transition: all 300ms ease-out;
}

.timeline-content span {
  display: inline-flex;
  position: relative;
  left: -150px;
  top: 268px;
  /* top: 50%; */
  transform: rotate(-90deg);
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 14.5px;
  font-weight: 800;
}

.timeline-content {
  padding-left: 10px;
}

.timeline {
  border-left: 2px solid #fbe10f;
  color: #fbe10f;
  margin-left: 10px;
  padding: 32px 32px 4px 32px;
}

.event {
  margin-bottom: 22px;
  position: relative;
}

.event:hover button {
  transform: scale(1.1);
}

.event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
}

.event:before,
.event:after {
  position: absolute;
  display: block;
  top: 0;
}

.event:after {
  box-shadow: 0 0 0 2px #fbe10f;
  left: -38px;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  content: "";
  top: 5px;
  background-color: #3a17b7;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #fbe10f;
  font-size: 1.75rem;
  letter-spacing: 1.75px;
}

button:focus {
  outline: none;
}

.event p {
  font-size: 1.3rem;
  margin: 7px;
}

.section-name {
  color: #fbe10f;
  font-size: 9rem;
  margin-left: -35%;
  transition: all 600ms ease-out 300ms;
  z-index: -1;
}