/* timeline */

.timeline-content {
  padding-left: 10px;
}

.timeline-content span {
  display: inline-flex;
  position: relative;
  left: -150px;
  top: 268px;
  transform: rotate(-90deg);
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 14.5px;
  font-weight: 800;
}

.timeline {
  border-left: 2px solid #fbe10f;
  color: #fbe10f;
  margin-left: 10px;
  padding: 32px 32px 4px 32px;
}

.event {
  margin-bottom: 22px;
  position: relative;
}

.event:before,
.event:after {
  position: absolute;
  display: block;
  top: 0;
}

.event:after {
  box-shadow: 0 0 0 2px #fbe10f;
  left: -38px;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  content: "";
  top: 5px;
  background-color: #3a17b7;
}

.section-item .event p {
  font-size: 1.3rem;
  margin: 7px;
  letter-spacing: normal;
}

.event:hover button {
  transform: scale(1.1);
}

.event:hover + .event:after {
  box-shadow: 0 0 0 2px #fbe10f;
  left: -38px;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  content: "";
  top: 5px;
  background-color: #fbe10f;
}

button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #fbe10f;
  font-size: 1.75rem;
  letter-spacing: 1.75px;
}

button:focus {
  outline: none;
}

.event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
}