.header {
  /* position: fixed; */
  width: 100%;
  /* background-color: #3a17b7; */
  /* background-color: red; */
  height: 43px;
}

.header li {
  font-size: 1.125rem;
  text-align: center;
  text-transform: uppercase;
}

nav ul {
  display: flex;
  flex-basis: 35%;
  justify-content: space-around;
}

nav a {
  color: white;
}

.nav-container {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid green;
  padding-top: 3rem;
}