.about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: all 500ms ease-in;
}

.about:hover .section-name {
  padding-left: 45%;
  transition: all 750ms ease-in-out;
}

.about:hover .about-item {
  opacity: 1;
  transition: opacity 500ms ease-in 700ms;
}

.about-item {
  opacity: 0;
  width: 35%;
  font-size: 1.5rem;
  transition: all 300ms ease-out;
}

.about-header {
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 2rem;
  margin-left: 7px;
}

.about-body {
  color: #fbe10f;
  margin-left: 7px;
  margin-bottom: 20px;
}

.about-item p {
  color: #fbe10f;
}

.tech-icons {
  font-size: 3rem;
}

.fab {
  color: #fbe10f;
  margin: 5px;
}

.about-timeline {
  margin-top: 1rem;
  padding: 16px 32px 7px 32px;
}

.about-timeline .event {
  margin-bottom: 16px;
}

.about-timeline a {
  color: #fbe10f;
}