.about-description {
  margin-bottom: 3rem;
}

.about p {
  font-size: 1.2rem;
}

.about-icons {
  font-size: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  color: #fbe10f;
}

.about-icons .fab {
  margin: 1rem 2rem 1rem 0;
}

.about-items {
  display: flex;
  flex-wrap: wrap;
  margin-top: .75rem;
}

.about-item {
  margin: 1rem 2rem 1rem 0;
}

.about-item a {
  color: #fbe10f;
  font-size: 1.3rem;
  font-weight: 800;
  text-transform: uppercase;
  border: 1px solid #fbe10f;
  letter-spacing: 1.5px;
  padding: .5rem;
}

.about-item a:hover {
  color: #3a17b7;
  background-color: #fbe10f;
  border: 1px solid #3a17b7;
}