.about {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: all 500ms ease-in;
  letter-spacing: 1.25px;
}

.about:hover .section-name {
  padding-left: 45%;
  transition: all 750ms ease-in-out;
}

.about:hover .about-item {
  opacity: 1;
  transition: opacity 500ms ease-in 700ms;
}

.about-item {
  opacity: 0;
  width: 35%;
  font-size: 1.5rem;
  color: #fbe10f;
  transition: all 300ms ease-out;
}

.about-header {
  font-size: 4rem;
  font-weight: 800;
  color: white;
  margin-bottom: .5rem;
  letter-spacing: 4px;
}

.about-body {
  margin: 0 auto 4rem 0;
}

.tech-icons {
  position: relative;
  font-size: 3rem;
  margin-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
}

.tech-icons .fab {
  color: #fbe10f;
  margin: 1rem 2rem 1rem 0;
}

.about-more p {
  margin-bottom: 1rem;
}

.about-more-items {
  display: flex;
  flex-wrap: wrap;
}

.item {
  margin: 1rem 2rem 1rem 0;
}

.item a {
  color: #fbe10f;
  font-size: 1.3rem;
  font-weight: 800;
  text-transform: uppercase;
  border: 1px solid #fbe10f;
  letter-spacing: 1.5px;
  padding: .5rem;
}

.item a:hover {
  color: #3a17b7;
  background-color: #fbe10f;
  border: 1px solid #3a17b7;
}

.tooltip {
  position: relative;
  display: flex;
  flex-basis: 20%;
}

.tooltip-text {
  position: absolute;
  top: 80%;
  font-size: 1.3rem;
  font-weight: lighter;
  color: #fbe10f;
  opacity: 0;
  transition: all 300ms ease;
  z-index: 1;
}

.tooltip:hover .tooltip-text {
  opacity: 1;
}