.section-home {
  color: #fbe10f;
  font-size: 9rem;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: 750ms ease 250ms;
  font-size: 1.5rem;
}

.home:hover {
  transition: all 750ms ease;
}

.home:hover .home-item {
  opacity: 1;
  transition: all 450ms ease-in 300ms;
}

.home-item {
  margin: -12px;
  opacity: 0;
  transition: all 300ms ease-out;
}