.home {
  flex-direction: column;
  transition: 750ms ease 250ms;
}

.home-section-title {
  color: #fbe10f;
  font-size: 9rem;
  transition: all 600ms ease-out 300ms;
  margin-top: -10px;
}

.home:hover {
  transition: all 750ms ease;
}

.home:hover .home-item {
  opacity: 1;
  transition: all 450ms ease-in 300ms;
}

.home-item {
  margin: -12px;
  opacity: 0;
  transition: all 300ms ease-out;
  letter-spacing: 3px;
  font-size: 1.5rem;
}